<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Enhanced Chat Page</title>
  <link rel="stylesheet" href="/dist/style.css" />
</head>
<body>
  <div class="sidebar">
    <div class="spaces">
      <button class="spaces-button">
        بخش ها
      </button>
      <div class="spaces-list" id="spacesList">
        <ul id="namespaces"></ul>
      </div>
    </div>
    <h2 id="group-title"></h2>
    <ul id="rooms" class="rooms-list">
      <!-- Rooms will be dynamically populated here -->
    </ul>
  </div>

  <div class="chat-area">
    <div class="chat-header">
      <span class="online-count" id="online-count"></span>
      

      <div class="user-info">
          <input type="hidden"  id="userId" value="<%=req.session.user.id%>">
          <img src="/uploads/cooking.jpg" alt="User Profile" class="profile-image" id="userImage"/>
          <span id="username">
            <%if(req.session?.user?.fullName){%>
              <%=req.session.user.fullName%>
            <%} else if(req.session.user?.mobile) {%>
              <%=req.session.user?.mobile%>
            <%} else {%>
              user
            <%}%>
          </span>
      </div>
  
      <div class="room-header" id="room-header"></div>
    </div>
    <div class="messages">
      <ul id="message-container">
        
      </ul>
    </div>
    <div class="input-area">
      <input type="text" id="messageInput" placeholder="Type your message..." />
      <button id="sendButton" type="submit">Send</button>
    </div>
  </div>
  
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const spacesButton = document.querySelector('.spaces-button');
    const spacesList = document.getElementById('spacesList');
    const namespacesContainer = document.getElementById('namespaces');
    
    // Show namespace list on hover
    spacesButton.addEventListener("mouseover", () => {
      spacesList.style.display = "block";
    });
    
    spacesList.addEventListener("mouseleave", () => {
      spacesList.style.display = "none";
    });
    
    // Event delegation to handle namespace selection
    namespacesContainer.addEventListener("click", (event) => {
      if (event.target.tagName === "LI") {
        // Rooms will be updated by socket.js on namespace change
        spacesList.style.display = "none";
      }
    });
    </script>

<script src="/dist/socket.js"></script>
</body>
</html>

